<h1>Article Number 1</h1>
<p>
    Russia Ukraine Crisis Live: Russian President Vladimir Putin warned Saturday that Ukrainian statehood is in jeopardy and likened the West’s sanctions on Russia to “declaring war,” while a promised cease-fire in the besieged port city of Mariupol collapsed
    amid scenes of terror.
</p>
<h2>
    Article Number 2
</h2>
<p>
    Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment. However, some will become seriously ill and require medical attention.
</p>